## Johnhopkins Covid 19 Data Analysis

In [34]:
import pandas as pd

### Reading data from Johnhopkins Github repository

In [35]:
Confirmed_filepath = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
Death_filepath = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
Recovered_filepath = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [36]:
 def import_data(filepath):
    data = filepath
    data = pd.read_csv(data)
    data.rename(columns={'Province/State':'Province','Country/Region':'Country'},inplace = True)
    return data

In [37]:
def transform_data(data):
    data = pd.melt(
    frame = data,
    id_vars = ['Province','Country','Lat','Long','Status'],
    var_name = 'Date',
    value_name = 'Count')
    return data

#### Importing to data frame and transforming data for Confirmed, Death and Recovered global cases

In [38]:
ConfirmedCases = import_data(Confirmed_filepath)
ConfirmedCases['Status'] = 'Confirmed'
ConfirmedCases = transform_data(ConfirmedCases)

In [39]:
ConfirmedCases.head()

  Province      Country       Lat       Long     Status     Date  Count
0      NaN  Afghanistan  33.93911  67.709953  Confirmed  1/22/20      0
1      NaN      Albania  41.15330  20.168300  Confirmed  1/22/20      0
2      NaN      Algeria  28.03390   1.659600  Confirmed  1/22/20      0
3      NaN      Andorra  42.50630   1.521800  Confirmed  1/22/20      0
4      NaN       Angola -11.20270  17.873900  Confirmed  1/22/20      0

In [40]:
DeathCases = import_data(Death_filepath)
DeathCases['Status'] = 'Death'
DeathCases = transform_data(DeathCases)

In [41]:
DeathCases.head()

  Province      Country       Lat       Long Status     Date  Count
0      NaN  Afghanistan  33.93911  67.709953  Death  1/22/20      0
1      NaN      Albania  41.15330  20.168300  Death  1/22/20      0
2      NaN      Algeria  28.03390   1.659600  Death  1/22/20      0
3      NaN      Andorra  42.50630   1.521800  Death  1/22/20      0
4      NaN       Angola -11.20270  17.873900  Death  1/22/20      0

In [42]:
RecoveredCases = import_data(Recovered_filepath)
RecoveredCases['Status'] = 'Recovered'
RecoveredCases = transform_data(RecoveredCases)

In [43]:
RecoveredCases.head()

  Province      Country       Lat       Long     Status     Date  Count
0      NaN  Afghanistan  33.93911  67.709953  Recovered  1/22/20      0
1      NaN      Albania  41.15330  20.168300  Recovered  1/22/20      0
2      NaN      Algeria  28.03390   1.659600  Recovered  1/22/20      0
3      NaN      Andorra  42.50630   1.521800  Recovered  1/22/20      0
4      NaN       Angola -11.20270  17.873900  Recovered  1/22/20      0

### Merging data

In [44]:
Totaldata = pd.concat([ConfirmedCases,DeathCases,RecoveredCases])

In [45]:
Totaldata.dtypes

Province     object
Country      object
Lat         float64
Long        float64
Status       object
Date         object
Count         int64
dtype: object

In [46]:
Totaldata['Date'] = pd.to_datetime(Totaldata['Date'])
Totaldata.set_index('Date',inplace= True)

In [47]:
Totaldata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 745920 entries, 2020-01-22 to 2022-06-27
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Province  222888 non-null  object
 1   Country   745920 non-null  object
 2   Lat       741480 non-null  float64
 3   Long      741480 non-null  float64
 4   Status    745920 non-null  object
 5   Count     745920 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 39.8+ MB

In [48]:
Totaldata.head()

           Province      Country       Lat       Long     Status  Count
Date
2020-01-22      NaN  Afghanistan  33.93911  67.709953  Confirmed      0
2020-01-22      NaN      Albania  41.15330  20.168300  Confirmed      0
2020-01-22      NaN      Algeria  28.03390   1.659600  Confirmed      0
2020-01-22      NaN      Andorra  42.50630   1.521800  Confirmed      0
2020-01-22      NaN       Angola -11.20270  17.873900  Confirmed      0

In [49]:
#Exporting dataset for further visualization
Totaldata.to_csv("Totaldata.csv")